{
    "apiVersion": "v1",
    "kind": "List",
    "metadata": {},
    "items":[
	{
	    "apiVersion": "v1",
	    "kind": "Service",
	    "metadata": {
		"labels": {
		    "name": "<SVC_NAME>-master"
		},
                "name": "<SVC_NAME>-master"
	    },
	    "spec": {
		"clusterIP": "None",
		"ports": [
		    {
			"nodePort": 0,
			"port": 5432,
			"protocol": "TCP",
			"targetPort": 5432
		    }
		],
		"selector": {
		    "role": "<SVC_NAME>-master",
		    "dbsvc": "<SVC_NAME>"
		},
		"sessionAffinity": "None",
		"type": "ClusterIP"
	    }
	},
	{
	    "apiVersion": "v1",
	    "kind": "Service",
	    "metadata": {
		"labels": {
		    "name": "<SVC_NAME>-slave"
		},
                "name": "<SVC_NAME>-slave"
	    },
	    "spec": {
		"clusterIP": "None",
		"ports": [
		    {
			"nodePort": 0,
			"port": 5432,
			"protocol": "TCP",
			"targetPort": 5432
		    }
		],
		"selector": {
		    "role": "<SVC_NAME>-slave",
		    "dbsvc": "<SVC_NAME>"
		},
		"sessionAffinity": "None",
		"type": "ClusterIP"
	    }
	}
    ]
}

