kind: StorageClass
apiVersion: storage.k8s.io/v1beta1
metadata:
    name: <CLASS_NAME>
provisioner: diamanti.com/default
parameters:
    perfTier: <PERF_TIER>
    mirrorCount: "<MIRROR_COUNT>"
    fsType: xfs
    driver: diamanti.com/volume