apiVersion: v1
kind: Pod
metadata:
  annotations:
    diamanti.com/endpoint0: '{"network":"<NETWORK>","perfTier":"<NET_PERF_TIER>"}'
  creationTimestamp: null
  name: <SVC_NAME>-pgbench
spec:
  containers:
  - env:
    - name: PGBENCH_DATABASE
      value: <DATABASE_NAME>
    - name: PGBENCH_USER
      value:  <USER>
    - name: PGBENCH_PASSWORD
      value: <USER_PASSWORD>
    - name: PGHOST
      value: <SVC_NAME>
    - name: PGPORT
      value: "5432"
    - name: PG_MODE
      value: ro
    - name: TIME_DURATION
      value: "<BENCH_DURATION>"
    - name: NOLOAD
      value: "<BENCH_NOLOAD>"
    image: guptaarvindk/pgbench:perf
    imagePullPolicy: Always
    name: master
    ports:
    - containerPort: 5432
      protocol: TCP
    resources:
      requests:
        cpu: "8"
        memory: 4Gi



