<div class="col align-self-center" style="margin-top: 20px;" ng-init="cinemaShow()">

  <div class=" row" style="padding-top: 20px">
    <div class="card"   style="width: 100rem;">
      <div class="card-body">
	<div class="row">
	  <div class="col-md-4">
	    <img src="img/dummy.png" style="width: 200px; height: 200px;" alt="Card image cap">
	  </div>
	  <div class="col-md-8">
	    <h2 class="display-2">{{movieData.title}}</h2>
	    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc diam purus, tincidunt non efficitur et, rhoncus in metus.</p>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <div class=" row" style="padding-top: 20px">

    <h1 class="display-3" style=" text-align: left; border-bottom: 1px solid #e7e7e7; padding-bottom:20px;">Show timings</h1>

      <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6">
                <!--<div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label for="country" class="control-label">Country</label>
                        <select name='country' id="country" class="form-control" disabled > 
                        <!--ng-model="country" ng-options="country as country.CountryName for country in countries" required -->
                            <!--<option value="usa" disabled>usa</option>
                        </select>
                    </div>
                </div>-->

                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="state" class="control-label">State</label>
                        <select name='state' required id="state" class="form-control" ng-disabled="states.length == 0" ng-model="state" ng-options="state as state.name for state in states" ng-change='selectedSte(state._id)'>
                            <option value="" >Select</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="city" class="control-label">City</label>
                        <select name='city' required id="city" class="form-control" ng-disabled="cities.length == 0" ng-model="city" ng-options="city as city.name for city in cities" ng-change='selectedCity(city._id)'>
                            <option value="" >Select</option>
                        </select>
                    </div>
                </div>
                
            </div>
            
		    <label for="country" class="control-label" style="color: gray"><small>Plese select a state and city for theaters list </small></label>       

        </div>
        <section  ng-if="thFlag == 1">
<!--
        <div class="well">                    
            <div class="list-group">        
                <a  class="list-group-item " ng-repeat="movie3 in moiveData" ng-if="movie3.id == movieId " >       
                    <div class="media col-md-4">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive"  src="img/tiger.jpg" alt="placehold.it/350x250" >
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <h4 class="list-group-item-heading"> {{movie3.title}} </h4>
                        <p class="list-group-item-text"> 
                            {{movie3.plot}}
                        </p>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="clearfix"></div>
                    </a>  
                    <div class="col-md-row">
                    
                        <div  ng-repeat="hall1 in cinemasData.cinemaRooms" >
                        
                            <div  ng-repeat="hall2 in hall1.schedules" ng-if="hall2.movie_id == movieId " >

                                <div class=" text-center">
                                    <h2><small>Show timing {{hall2.time}} </small></h2>
                                    <button type="button" class="btn btn-primary btn-block" ng-click="Seats(hall2.movie_id ,hall2.time)" > Seats availability! </button>  
                                    
                                    <div ng-if="hall2.time==movieTime">
                                        <div ng-repeat="seats in hall2.seatsEmpty" style="float:left; padding-left :10px;">
                                        
                                           <input type="checkbox" check-seats>
                                           <label>{{seats}}</label> 
                                        
                                        </div>                                        
                                        <div class="clearfix"></div>
                                        <button type="button" class="btn btn-primary btn-block" ng-click="bookTicket()" ng-if="hall2.time==movieTime && selection.length > 0"> Book Now! </button> 
                                        <!-- hall2.time , movieId , cinemasData.city_id , hall1.format  --

                                    </div>
                                </div>
                            </div>                                                     
                        </div>
                    </div>
                
                
            </div>            
        </div>

-->




	  
          <div class="row row-1">
            <div class="col-md-12 col-sm-12 col-xs-12 hallSection">                   
              <!-- <div class="col-md-4" ng-repeat="hall in theaterData"> 
                   
                   <div ng-repeat="hall1 in thsData.cinemas" ng-if="hall1 == hall._id"> -->
              
              <div class="card-deck">
		<div class="card col-md-12" ng-repeat="hall1 in thsData" >
                  
                  <!-- <div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                       <!-- <span class="icon bg-df circle"><i class="fa fa-building-o"></i></span> -->
		       
		       <div class="col-md-3">
			 <img class="card-img-left " src="img/movie-theater.png" style="width: 200px; height: 200px;" alt="Card image cap">
		       </div>
		       
		       <div class=" col-md-9">
			 
                         <h3 class="display-3"  style=" text-align: left; border-bottom: 1px solid #e7e7e7;">{{hall1._id}}</h3>
			 
			 <div ng-repeat="schedule in hall1.schedules" >
			   <div class="row">
			     <div class=" col-md-1"> </div>
			     <div class=" col-md-2">
			       <h4>Hall {{schedule.room}} : </h4>
			     </div>
			     <div class=" col-md-6"> 
			       <button  ng-repeat="time in schedule.schedules" type="button" class="btn btn-primary " ng-click="bookTicket()" > {{time}} </button>
			       </div>
			   </div>
                           <!--<a ng-click="showHall(hall1._id)">Read More <i class="pl-5 fa fa-angle-double-right"></i></a> -->
			 </div>
		       </div>
		       
                  </div>
		</div>
                
		<!-- </div> -->
		
	      </div>
	    </div>
	  </div>
	  









	    


	    
        </section>


    </div>
</div>
