<div class="col align-self-center">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class=" jumbotron " ng-init="setDb('')" ng-submit="CreateDb()" ng-if="loggedIn==1">
            <form class="container" id="mainForm">

                <div class="col-md-12" ng-show="!selectType">
                  <legend>
		    <h2 class="text-muted">Create new database service</h2>
		  </legend>
		  
		  <div class="row">
		    <div class="col-md-4">
		      <div class="card text-center" ng-click="setDb('PostgresSQL')">
			<div height="400px" width="300px">
			  <input type="image"   src="../img/postgresql.png" width="200px" >
			</div>
		      </div>
		    </div>
		    <div class="col-md-4">
		      <div class="card text-center"  ng-click="setDb('MongoDb')" height="300px">
			<div height="400px" width="300px">
			  <input type="image"  src="../img/mongodb.png"  width="200px" >
			</div>
		      </div>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-md-4"  >
		      <div class="card text-center " ng-click="setDb('MsSQL')" height="300px" >
			
			<div height="400px" width="300px">
			  <input type="image" src="../img/mssql.png"  width="200px">
			</div>
		      </div>
		    </div>
		    <div class="col-md-4"  >
                      <div class="card text-center" ng-click="setDb('Cassandra')" height="300px">
			<div height="400px" width="300px">
			  <input type="image" src="../img/cassandra.png"  width="200px">
			  </div>
		      </div>
		    </div>
		  </div>
		</div>
		
                <div ng-show="selectType">
		  
                  <legend>
		    <div class="row">
		      <div class="col-md-10">
			<h2 class="text-muted" ng-click="setDb('')">home / Create {{selectType}} database</h2>
		      </div>
		      <div class="col-md-2">
			<img src="../img/postgresql.png" class="img-thumbnail float-right" width="75px" ng-show="selectType=='PostgresSQL'">
			<img src="../img/mongodb.png" class="img-thumbnail float-right" width="75px" ng-show="selectType=='MongoDb'">
			<img src="../img/mssql.png" class="img-thumbnail float-right" width="75px" ng-show="selectType=='MsSQL'">
			<img src="../img/cassandra.png" class="img-thumbnail float-right" width="75px" ng-show="selectType=='Cassandra'">
		      </div>
		    </div>
		  </legend>
		  
		  <div class="card text-left text-white bg-info ">
		    <legend class="text-info" ><h4>DB setup</h4></legend>
		    <div class="card-body">
		      <div class="row">
			<div class="col-md-6 mb-3">
			  <label class="control-label">Name your database service:</label>
                          <input type="text" ng-model="inputName" class="form-control" required="required">
			</div>
			<div class="col-md-3 mb-3">		    
			  <label class="control-label">Cost code</label>
                          <input type="text" ng-model="inputCost" class="form-control" required="required" value="DiamantiSales">
			</div>

			<div class="col-md-3 mb-3">
			  <label class="control-label">DB replicas</label>
			  <select class="form-control form-control-lg" ng-model="selectReplication">
                            <option>1</option>
                            <option>3</option>
                            <option>5</option>
			  </select>
			</div>	
		      </div>
		    </div>
		  </div>
		  
		  <div class="card">
		    <div class="card-body">
		      <legend class="text-info" ><h4>Storage configuration</h4></legend>
		      <div class="row"> 
			<div class="col-md-3 mb-3">
			  <label class="control-label">Mirrors per volume</label>
			  <select class="form-control form-control-lg" ng-model="selectMirroring">
			    <option>1</option>
			    <option>2</option>
			    <option>3</option>
			  </select>
			</div>
			<div class="col-md-4 mb-3">
			  <label class="control-label">Storage for each instance (GB)</label>
			  <select class="form-control form-control-lg" ng-model="selectStorage">
			    <option>50</option>
			    <option>100</option>
			    <option>300</option>
			    <option>500</option>
			  </select>
			</div>
			<div class="col-md-4 mb-3">
			  <label class="control-label">Performance tier for storage</label>
			  <select class="form-control form-control-lg" ng-model="selectStoragePerfTier">
			    <option>high</option>
			    <option>medium</option>
			    <option>best-effort</option>
			  </select>
			</div>
		      </div>
		    </div>
		  </div>
		  
			
		  
		  
		  <div class="card">
		    <div class="card-body">
		      <legend class="text-info" ><h4>Network configuration</h4></legend>
		      <div class="row"> 
			<div class="col-md-6 mb-3">
			  <label class="control-label">Network</label>
			  <select class="form-control form-control-lg" ng-model="selectNetwork">
			    <option>default</option>
			    <option>dev</option>
			    <option>production</option>
			    
			  </select>
			</div>
			<div class="col-md-6 mb-3">
			  <label class="control-label">Performance tier for network:</label>
			  <select class="form-control form-control-lg" ng-model="selectNetPerfTier">
			    <option>high</option>
			    <option>medium</option>
			    <option>best-effort</option>
			  </select>
			</div>
		      </div>
		    </div>
		  </div>

		  
		  
		  <div class="card">
		    <div class="card-body">
		      <legend class="text-info" ><h4>{{selectType}} configuration</h4></legend>
		      <div class="row">
			<div class="form-group" ng-show="selectType=='MsSQL'">
			  <label class="col-md-12 control-label">MsSQL Admin password</label>
			  <div class="col-md-12">
			    <input type="text" ng-model="inputsapassword" class="form-control" required="required" value="P455word1">
			  </div>
			</div>
		      </div>


		      <div ng-show="selectType=='MongoDb'">
			<div class="row" >
			  <div class="form-group">
			    <div class="col-md-8 mb-3">
			      <label class="control-label">No Configuration needed</label>
			    </div>
			  </div>
			</div>
		      </div>


		      <div ng-show="selectType=='Cassandra'">
			<div class="row" >
			  <div class="form-group">
			    <div class="col-md-8 mb-3">
			      <label class="control-label">No Configuration needed</label>
			    </div>
			  </div>
			</div>
		      </div>


		      
		      <div ng-show="selectType=='PostgresSQL'">
			<div class="row" >
			  <div class="form-group">
			    <div class="col-md-8 mb-3">
			      <label class="control-label">Database name</label>
			      <input type="text" ng-model="inputpgdb" class="form-control" required="required" value="pgbench">
			    </div>
			    <div class="col-md-4 mb-3">
			      <label class=" control-label">User name</label>
			      <input type="text" ng-model="inputpguser" class="form-control" required="required" value="pabench">
			    </div>
			  </div>
			</div>
			<div class="row">
			  <div class="form-group">
			    <div class="col-md-4 mb-3">
			      <label class="col-md-12 control-label">Root password</label>
			      <input type="text" ng-model="inputpgrootpassword" class="form-control" required="required" value="password">
			    </div>
			    <div class="col-md-4 mb-3">
			    <label class="control-label">Master password</label>
			    <input type="text" ng-model="inputpgmasterpassword" class="form-control" required="required" value="password">
			    </div>
			    <div class="col-md-4 mb-3">
			    <label class="control-label">User password</label>
			    <input type="text" ng-model="inputpguserpassword" class="form-control" required="required" value="password">
			    </div>
			  </div>
			</div>
		      </div>
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <button class="btn btn-primary" type="submit">
                      <span>Create database</span>
		    </button>
		    
		  </div>
		  
		  <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
   		  <div class="alert alert-info text-left" ng-if="shellRes!=''" ng-bind-html="shellRes" ></div>
		</div>
            </form>
	</div>
    </div>
    <div class="col-lg-1"></div>
</div>
