<div class="col align-self-center" style="margin-top: 20px;" ng-init="cinemaShow();cinemasList();">   
    <div class="row" ng-if="movFlag == 0">
      <div class="well">

            <h1 class="text-center">List of Hall</h1>
            <div class="list-group">        
                <div ng-repeat="cinema in cinemasData.cinemaRooms" style="">       
                    <a  class="list-group-item " ng-repeat="movie3 in moiveData track by movie3.id" ng-if="movie3.id == cinema.schedules[0].movie_id" style="min-height: 120px;  max-height: 150px;">          
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img class="media-object img-rounded img-responsive"  src="img/tiger.jpg" alt="placehold.it/350x250" >
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading"> {{movie3.title}} </h4>
                            <p class="list-group-item-text"> 
                                {{movie3.plot}}
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <h2> {{cinema.format}} </small></h2>
                            <button type="button" class="btn btn-primary btn-block" ng-click="bookNow(movie3.id)"> Show Time </button>                            
                        </div><div class="clearfix"></div>
                    </a><div class="clearfix"></div>
                </div><div class="clearfix"></div>
             </div>

        </div>
    </div>


    <div class="row" ng-if="movFlag == 1">
        <div class="well">                    
            <div class="list-group">        
                <a  class="list-group-item " ng-repeat="movie3 in moiveData" ng-if="movie3.id == movieId " >       
                    <div class="media col-md-4">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive"  src="img/tiger.jpg" alt="placehold.it/350x250" >
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <h4 class="list-group-item-heading"> {{movie3.title}} </h4>
                        <p class="list-group-item-text"> 
                            {{movie3.plot}}
                        </p>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="clearfix"></div>
                    </a>  
                    <div class="col-md-row">
                    
                        <div  ng-repeat="hall1 in cinemasData.cinemaRooms" >
                        
                            <div  ng-repeat="hall2 in hall1.schedules" ng-if="hall2.movie_id == movieId " >

                                <div class=" text-center">
                                    <h2><small>Show timing {{hall2.time}} </small></h2>
                                    <button type="button" class="btn btn-primary btn-block" ng-click="Seats(hall2.movie_id ,hall2.time)" > Seats availability! </button>  
                                    
                                    <div ng-if="hall2.time==movieTime">
                                        <div ng-repeat="seats in hall2.seatsEmpty" style="float:left; padding-left :10px;">
                                        
                                           <input type="checkbox" check-seats>
                                           <label>{{seats}}</label> 
                                        
                                        </div>                                        
                                        <div class="clearfix"></div>
                                        <button type="button" class="btn btn-primary btn-block" ng-click="bookTicket()" ng-if="hall2.time==movieTime && selection.length > 0"> Book Now! </button> 
                                        <!-- hall2.time , movieId , cinemasData.city_id , hall1.format  -->

                                    </div>
                                </div>
                            </div>                                                     
                        </div>
                    </div>
                
                
            </div>            
        </div>
    </div>
</div>
